body{
    color: #444;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: #4caf50;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 24px 0;
    text-align: center;
}
header a {
    text-decoration: none;
    color: inherit;
}
header h1 {
    font-size: 40px;
    margin: 0;
}